.button {
	cursor: pointer;

	display: inline-block;

	padding: 13px;
	border: none;
	border-radius: 8px;

	font-size: 15px;
	font-weight: 700;
	line-height: 140%;
	color: var(--c-white);
	text-align: center;

	appearance: none;
	background: var(--c-black-70);
	outline: var(--c-black-20);
}