.label {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.textarea {
	resize: vertical;

	box-sizing: border-box;
	width: 100%;
	min-height: 106px;
	padding: 18px 29px;
	border: 1px solid rgb(40 40 40 / 16%);
	border-radius: 5px;

	font-family: var(--font-family);
	font-size: 15px;
	line-height: 140%;
	color: var(--c-black);

	appearance: none;
	background: var(--c-white);
	outline-color: var(--c-primary);

	transition: border-color .3s ease;

	&::placeholder {
		color: rgb(78 93 124 / 50%);
	}

	&.error {
		border-color: var(--c-red)
	}
}