.xl {
	font-size: 18px;
	line-height: 180%;
}

.lg {
	font-size: 16px;
	line-height: 175%;
}

.md {
	font-size: 14px;
	line-height: 150%;
}

.sm {
	font-size: 12px;
	line-height: 120%;
}

.light {
	color: var(--c-black-20);
}

.dark {
	color: var(--c-black-30);
}